<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.bgzyy.dao.ShowInfoToPageMapper">
    <select id="getGpNameFormTable" resultType="com.hand.bgzyy.bean.GpBean">
        select distinct gp_name, gp_code from all_info_tab group by gp_code
    </select>
    <select id="queryHistoryInfoWithCode" resultType="com.hand.bgzyy.bean.AllData">
        select gp_name, gp_code, date, price from all_info_tab where gp_code = #{code}
    </select>
    <select id="queryHistoryInfoWithName" resultType="com.hand.bgzyy.bean.AllData">
        select gp_name, gp_code, date, price from all_info_tab where gp_name = #{name}
    </select>
    <select id="queryThirtyDaysInfo" resultType="com.hand.bgzyy.bean.AllData">
        select gp_name, gp_code, date, price from all_info_tab where gp_code = #{code} limit 31;
    </select>
</mapper>